<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIMPLR</title>
    <link rel="stylesheet" href="/stylesheets/oauth.css">
  </head>
  <body>
    <div class="center">
      <h1>SIMPLR</h1>
      <p>A Place Where You Can Be Yourself</p>
      <div class="center-foot">
        <a href="/auth/google" class="btn">LOG IN</a>
      </div>
    </div>
  </body>
</html>